#labelAnimation{

    display: grid;
    grid-template-areas: "input";
}

.input-new{
    grid-area: input;
    width: auto;
    font: inherit;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: transparent;
}

.labelName{
    grid-area: input;
    z-index: 100;
    width: max-content;
    margin-left: 1rem;
    padding: 0.5rem;
    height: 100%;
    display: flex;
    transition: transform .2s;
    transform-origin: center left;

}
.input-new:focus +.labelName,
.input-new:not(:placeholder-shown)+.labelName
{
    transform: translateY(-50%) scale(.7);
    background-color: rgb(255, 255, 255);
}

#client-select,#type{
    border: 1px solid gray;
    padding-left: 1.5rem
    ;
}


@media (max-width: 575.98px) {
    #labelAnimation{
        display: flex;
        align-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .labelName{
        margin-left: 0;
        padding: 0;
        width: 100%;
        text-align: center;
    }
    .cont-newUser{
        border: 1px solid red;
        width: 100%;
        margin: 0;
    }

}
